@font-face {
  font-family: "iransans";
  src: url("fonts/FontsFree-Net-ir_sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
  font-family: iransans;
}
